@value padding-md, padding-lg from 'ember-sandbox/styles/dimensions';

.navbar {
  border: 1px solid lightgray;
  display: flex;
  padding: padding-md;
}

.navbar nav {
  padding: padding-md;
}

.sidebar nav {
  padding: padding-md;
}

.sidebar {
  background: lightskyblue;
  border: 1px solid lightgray;
  display: flex;
  flex-basis: 200px;
  flex-flow: column;
  min-width: 200px;
  padding: padding-lg;
}

.app {
  align-items: stretch;
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: stretch;
}

.main {
  padding: padding-md;
  overflow: scroll;
}

.content-container {
  flex-shrink: 1;
  overflow-y: auto;
}

.header .link {
  color: white;
}