@import 'ember-sandbox/styles/_typography';

& {
  font-weight: 600;
  margin: 0px;
  display: flex;
}

&.heading {
  font-size: calc(1.4rem * 3);
  line-height: calc($base-line * 2);
  max-width: calc(#{$legible-width} * 3);
}
&.heading {
  font-size: calc(1.4rem * 2.5);
  line-height: calc($base-line * 1.7);
  max-width: calc(#{$legible-width} * 2);
}
&.heading {
  font-size: $base-line;
  line-height: calc($base-line * 1.7);
  max-width: calc(#{$legible-width} * 2);
}